/* General page styles */
:root {
    --main-color: #500078;
    --accent-color: #BB68E5;
    --back-color: #4F4F4F;
    --field-color: #D3D3D3;
}

html {
    font-family: 'Lato', sans-serif;
}

body {
    background:
	linear-gradient(
		rgb(50, 50, 205),
		transparent
	),
	linear-gradient(
		90deg,
		rgb(127, 87, 179),
		transparent
	),
	linear-gradient(
		-90deg,
		rgb(255, 125, 160),
		transparent
	);
    background-blend-mode: screen;
    height: 100vh;
    width: 100vw;
    font-size: 100%;
    margin: 0;
    display: flex;
    justify-content:center;
    align-items: center;
}

#rt-container {
    width: 50%;
    height: 90%;
    align-items: center;
    border-radius: 3%;
    background-image: repeating-linear-gradient(135deg, rgba(0,0,0,0.04) 0px, rgba(0,0,0,0.04) 2px,transparent 2px, transparent 4px),
    linear-gradient(130deg, var(--main-color), var(--accent-color));
    box-shadow: 0px 3px 15px;
    border: 2px solid black;
}

#rt-title {
    font-size:3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}

#rt-content {
    display: flex;
    flex-direction:row;
    height: 90%;
}


/* Regex, TestLine section styles */
#rt-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}

#inputs-form {
    display: flex;
    flex-direction: column;
    height: 92%;
    width: 96%;
    padding: 2%;
    margin: 4%;
    margin-top: 0;
    border: 1px solid black;
}

label {
    font-size: 1.5em;
    text-align: center;
}

.text-input {
    font-size:1.3em;
    background-color: var(--field-color);
    height: 4%;
}

#submit {
    background-color: var(--field-color);
    padding: 1% 0 1% 0;
    font-size: 1.3em;
}

#rt-matches-attempts {
    height: 100%;
    width: 50%;
}


/* Successful matches styles */
#matches {
    display: flex;
    justify-content: center;
    height:50%;
    margin-right: 0.8%;
    margin-top: 1.6%;
}

ul {
    border: 1px solid black;
    list-style: none;
    font-size:1.5em;
    gap: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 2%;
    height: 98%;
    width: 95%;
}

li.error {
    color: rgb(255, 0, 0);
}

li.success {
    color: rgb(98, 225, 69);
}


/* Recent attempts styles */
#attempts {
    height: 50%;
}

table {
    padding: 2%;
    height: 93%;
    width: 99.5%;
}

th, td {
    border: 1px solid black;
    text-align: center;
}

th {
    padding: 1%;
}
