/* TODO: remove all background-colors used for testing */

:root {
    --main-color: #500078;
    --accent-color: #BB68E5;
    --back-color: #4F4F4F;
}

html {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: var(--back-color);
    height: 100vh;
    width: 100vw;
    font-size: 100%;
    margin: 0;
    display: flex;
    justify-content:center;
    align-items: center;
}

#rt-container {
    /* background-color: red; */
    width: 70%;
    height: 90%;
    align-items: center;
    border-radius: 3%;
    background-image: repeating-linear-gradient(135deg, rgba(0,0,0,0.04) 0px, rgba(0,0,0,0.04) 2px,transparent 2px, transparent 4px),
    linear-gradient(135deg, var(--main-color), var(--accent-color));
}

#rt-title {
    font-size:4em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    /* background-color: red; */
}

#rt-content {
    display: flex;
    flex-direction:row;
    height: 85%;
    /* background-color:aquamarine; */
}

#rt-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    /* background-color:blue; */
}

#inputs-form {
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    height: 80%;
    width: 80%;
}

label {
    font-size: 1.5em;
}

#rt-attempts {
    height: 100%;
    width: 50%;
    /* background-color:rgb(25, 234, 22); */
}
